In [1]:
import numpy as np
import pandas as pd
import os
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb

In [2]:
alunos_df = pd.read_csv('DM_ALUNO.csv', sep='|')

C:\Users\ROLD003\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
alunos_df.head(10)

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
1,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
2,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2015
4,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2013
5,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
6,2018,1,1,1,1,NaN,1.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
7,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
8,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2015
9,2018,1,1,1,1,NaN,1.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2013

In [14]:
alunos_df.iloc[:10, 5:15]

,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,CO_CINE_ROTULO,ID_ALUNO,CO_ALUNO_CURSO,CO_ALUNO_CURSO_ORIGEM,TP_COR_RACA
0,NaN,3.0,1.0,1,1,0421D01,2ECD7C9BEA7DCEBC31B9F2874D454F71,76445203,NaN,2
1,NaN,3.0,1.0,1,1,0421D01,2A9470AC3FC03AD130954809A84BC7D4,76448482,NaN,3
2,NaN,3.0,1.0,1,1,0421D01,3EA3DF175677D93C4FDD47865E89B92A,76484508,NaN,3
3,NaN,3.0,1.0,1,1,0421D01,E535A93D94430667B67D180C506CCB66,76485260,NaN,2
4,NaN,3.0,1.0,1,1,0421D01,EF1C01E9B84BEB8D6AA9702F59A90410,76449602,NaN,3
5,NaN,3.0,1.0,1,1,0421D01,E92DBC6D54AD8AC7419AC6818C9D4C3B,76471898,NaN,2
6,NaN,1.0,1.0,1,1,0421D01,442253EDCC14C59DA844B46DE6BFC49C,76471899,NaN,3
7,NaN,3.0,1.0,1,1,0421D01,0617FBEA7F8A7FE095AC7A425DB9C365,76484877,NaN,1
8,NaN,3.0,1.0,1,1,0421D01,023771AFF243E3A6682FE1F2E7186C54,76472660,NaN,3
9,NaN,1.0,1.0,1,1,0421D01,1F6DAC46F9DCE74E16573BAD76F51453,76460158,NaN,2

In [15]:
alunos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12043993 entries, 0 to 12043992
Columns: 105 entries, NU_ANO_CENSO to NU_ANO_INGRESSO
dtypes: float64(62), int64(40), object(3)
memory usage: 9.4+ GB

In [16]:
alunos_df.describe()

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
count,12043993.0,1.204399e+07,1.204399e+07,1.204399e+07,1.204399e+07,3.257591e+06,8.786402e+06,1.197852e+07,1.204399e+07,1.204399e+07,...,4454.000000,8436.000000,351.000000,8436.000000,1.204399e+07,1.204399e+07,1.204399e+07,1.204399e+07,0.0,1.204399e+07
mean,2018.0,1.699066e+03,3.693961e+00,1.737983e+00,5.602167e+05,2.909309e+05,2.693417e+00,1.490045e+00,1.270474e+00,1.000599e+00,...,1.921194,1.066975,856.743590,482.910977,7.017397e-01,1.050132e-01,2.861450e-01,2.504574e-01,NaN,2.016069e+03
std,0.0,3.167051e+03,1.306984e+00,8.787907e-01,8.450108e+05,2.535977e+05,9.593462e-01,7.393399e-01,4.442049e-01,2.447672e-02,...,0.269465,0.249993,2244.964755,233.380127,4.574944e-01,3.065704e-01,4.519580e-01,4.332765e-01,NaN,1.995243e+00
min,2018.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000,1.000000,1.000000,4.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.972000e+03
25%,2018.0,3.220000e+02,4.000000e+00,1.000000e+00,5.334700e+04,8.158700e+04,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,2.000000,1.000000,489.000000,250.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2.015000e+03
50%,2018.0,6.360000e+02,4.000000e+00,1.000000e+00,1.014720e+05,2.333940e+05,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,2.000000,1.000000,578.000000,620.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2.017000e+03
75%,2018.0,1.509000e+03,4.000000e+00,2.000000e+00,1.167476e+06,4.290850e+05,3.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,...,2.000000,1.000000,585.000000,620.000000,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,NaN,2.018000e+03
max,2018.0,2.370500e+04,7.000000e+00,5.000000e+00,5.001466e+06,1.132572e+06,4.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,...,2.000000,2.000000,18759.000000,858.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,2.018000e+03