## Title

> Sources: 
- http://download.inep.gov.br/microdados/microdados_educacao_superior_2018.zip
- http://emec.mec.gov.br/

In [1]:
import numpy as np
import pandas as pd
import os
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb

In [2]:
alunos_df = pd.read_csv('DM_ALUNO.csv', sep='|')

C:\Users\ROLD003\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
alunos_df.head(10)

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
1,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
2,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2015
4,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2013
5,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
6,2018,1,1,1,1,NaN,1.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
7,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
8,2018,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2015
9,2018,1,1,1,1,NaN,1.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2013

In [4]:
alunos_df.iloc[:10, 5:15]

,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,CO_CINE_ROTULO,ID_ALUNO,CO_ALUNO_CURSO,CO_ALUNO_CURSO_ORIGEM,TP_COR_RACA
0,NaN,3.0,1.0,1,1,0421D01,2ECD7C9BEA7DCEBC31B9F2874D454F71,76445203,NaN,2
1,NaN,3.0,1.0,1,1,0421D01,2A9470AC3FC03AD130954809A84BC7D4,76448482,NaN,3
2,NaN,3.0,1.0,1,1,0421D01,3EA3DF175677D93C4FDD47865E89B92A,76484508,NaN,3
3,NaN,3.0,1.0,1,1,0421D01,E535A93D94430667B67D180C506CCB66,76485260,NaN,2
4,NaN,3.0,1.0,1,1,0421D01,EF1C01E9B84BEB8D6AA9702F59A90410,76449602,NaN,3
5,NaN,3.0,1.0,1,1,0421D01,E92DBC6D54AD8AC7419AC6818C9D4C3B,76471898,NaN,2
6,NaN,1.0,1.0,1,1,0421D01,442253EDCC14C59DA844B46DE6BFC49C,76471899,NaN,3
7,NaN,3.0,1.0,1,1,0421D01,0617FBEA7F8A7FE095AC7A425DB9C365,76484877,NaN,1
8,NaN,3.0,1.0,1,1,0421D01,023771AFF243E3A6682FE1F2E7186C54,76472660,NaN,3
9,NaN,1.0,1.0,1,1,0421D01,1F6DAC46F9DCE74E16573BAD76F51453,76460158,NaN,2

In [5]:
alunos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12043993 entries, 0 to 12043992
Columns: 105 entries, NU_ANO_CENSO to NU_ANO_INGRESSO
dtypes: float64(62), int64(40), object(3)
memory usage: 9.4+ GB

## Medicina

In [14]:
auxiliar_df = pd.read_csv('TB_AUX_CINE_BRASIL.csv', sep='|', encoding='latin-1')
auxiliar_df.head(5)

,CO_CINE_AREA_GERAL,NO_CINE_AREA_GERAL,CO_CINE_AREA_ESPECIFICA,NO_CINE_AREA_ESPECIFICA,CO_CINE_AREA_DETALHADA,NO_CINE_AREA_DETALHADA,CO_CINE_ROTULO,NO_CINE_ROTULO
0,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A01,ABI Educação
1,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A02,ABI Artes e humanidades
2,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A03,"ABI Ciências sociais, jornalismo e informação"
3,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A04,"ABI Negócios, administração e direito"
4,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A05,"ABI Ciências naturais, matemática e estatística"

In [16]:
auxiliar_df[auxiliar_df['NO_CINE_ROTULO'] == 'Medicina']

,CO_CINE_AREA_GERAL,NO_CINE_AREA_GERAL,CO_CINE_AREA_ESPECIFICA,NO_CINE_AREA_ESPECIFICA,CO_CINE_AREA_DETALHADA,NO_CINE_AREA_DETALHADA,CO_CINE_ROTULO,NO_CINE_ROTULO
319,9,Saúde e bem-estar,91,Saúde,912,Medicina,0912M01,Medicina

In [42]:
alunos_df.sample(10)

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
7059580,2018,926,4,2,107128,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2014
586856,2018,30,5,1,72712,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2016
12035881,2018,21442,4,3,1337996,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,1,NaN,2018
8525968,2018,1472,4,2,111720,112926.0,NaN,1.0,2,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2016
11219263,2018,4616,4,3,1303502,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
1895078,2018,266,5,1,6396,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
1623586,2018,167,5,1,5118,NaN,1.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
1307580,2018,163,4,1,121297,261849.0,NaN,1.0,2,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
2550664,2018,298,4,1,1373746,294071.0,NaN,1.0,2,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
7980815,2018,1270,4,2,1330047,249547.0,NaN,1.0,2,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018

In [59]:
type(alunos_df.CO_CURSO[0])

numpy.int64

In [60]:
list(alunos_df['CO_CURSO'].value_counts().index)

[89380,
 97980,
 100305,
 1268023,
 98892,
 87280,
 102280,
 97982,
 87284,
 100326,
 97990,
 121297,
 79377,
 121093,
 111720,
 97992,
 100296,
 1363702,
 107014,
 1185928,
 89309,
 97573,
 100324,
 103338,
 95295,
 1115471,
 1116776,
 1116879,
 111270,
 1442114,
 7940,
 1401595,
 1363701,
 111726,
 1185929,
 107016,
 1314382,
 1403882,
 1401591,
 99980,
 1190157,
 96655,
 96711,
 111090,
 97327,
 1170317,
 1119473,
 1107828,
 111730,
 1384586,
 97986,
 1190159,
 1185941,
 80873,
 52906,
 1341021,
 1190158,
 87444,
 113025,
 1124348,
 1258528,
 121026,
 1300122,
 94994,
 89379,
 1314232,
 1315358,
 70442,
 1203194,
 1382605,
 1314234,
 1374069,
 8295,
 122666,
 1107827,
 110000,
 89853,
 1165118,
 1315060,
 96127,
 1268059,
 95393,
 1344519,
 1190156,
 1126004,
 87237,
 1116842,
 1108026,
 1194058,
 89855,
 1160839,
 10792,
 1164982,
 1375345,
 1315315,
 1401623,
 1119382,
 1186955,
 111094,
 1202868,
 1286800,
 1340998,
 82227,
 1132199,
 121222,
 91795,
 2015,
 89857,
 66290,
 97567,
 11726,
 99962,
 97512,
 1132779,
 1260005,
 1370855,
 111718,
 1315386,
 1259995,
 1385304,
 1382932,
 99940,
 1170032,
 1178366,
 1165324,
 1131979,
 1170122,
 1204112,
 1183559,
 1172551,
 1154048,
 106072,
 1150782,
 97329,
 1119481,
 9263,
 1420353,
 1160830,
 71247,
 5498,
 1125999,
 1314212,
 7942,
 100307,
 1315090,
 49324,
 8253,
 1204185,
 1174688,
 89849,
 1298770,
 68048,
 90651,
 1888,
 1344490,
 67975,
 16817,
 1175191,
 1190061,
 1151679,
 17524,
 1205437,
 1333079,
 19069,
 116378,
 66232,
 100315,
 116756,
 1286560,
 121028,
 1298841,
 1161357,
 99008,
 7683,
 21351,
 73054,
 118760,
 111968,
 57278,
 100309,
 1259979,
 89847,
 963,
 1170114,
 102173,
 20651,
 1299253,
 21561,
 1107875,
 117588,
 99952,
 121214,
 49636,
 1342710,
 111108,
 120717,
 72197,
 99720,
 1137223,
 114506,
 48706,
 19303,
 1314982,
 21125,
 91707,
 64587,
 100311,
 66284,
 19531,
 85058,
 37985,
 1375276,
 5001328,
 1151651,
 68435,
 1295689,
 1174691,
 1143412,
 115882,
 1286531,
 100557,
 11221,
 7946,
 92345,
 1363845,
 1286760,
 121202,
 1377544,
 109284,
 1260543,
 20018,
 63484,
 97851,
 109418,
 49056,
 79764,
 1261907,
 46608,
 112000,
 1382618,
 72319,
 95400,
 1315314,
 1314985,
 18327,
 56188,
 89851,
 99968,
 1170485,
 1205894,
 1069733,
 1164570,
 1170053,
 1267982,
 8582,
 1314140,
 1292571,
 111734,
 57802,
 1259896,
 66254,
 41155,
 1118088,
 6622,
 100626,
 1286755,
 5080,
 73259,
 118882,
 1382641,
 1360115,
 7413,
 1420100,
 39132,
 857,
 1382794,
 1382824,
 58074,
 1160967,
 19533,
 1342712,
 1170125,
 14363,
 150154,
 10480,
 41251,
 1342814,
 65428,
 1642,
 16244,
 5000235,
 104252,
 17088,
 72243,
 1382623,
 66080,
 1350102,
 17594,
 1266926,
 106670,
 8061,
 102869,
 1298413,
 18822,
 1314145,
 119246,
 1230,
 1172590,
 3482,
 15597,
 52910,
 1654,
 21151,
 98006,
 98847,
 31677,
 95500,
 14876,
 1286857,
 1279057,
 1285868,
 8154,
 112004,
 1170036,
 1151194,
 5001334,
 2030,
 1214342,
 21916,
 1314979,
 19779,
 346623,
 66288,
 79036,
 18983,
 1170436,
 1303485,
 97507,
 68924,
 55830,
 1331941,
 101630,
 85756,
 1204816,
 99012,
 10493,
 1343142,
 1304818,
 2016,
 1266797,
 84944,
 31041,
 8587,
 1170124,
 5066,
 103334,
 1170115,
 58043,
 1382607,
 35443,
 1314992,
 1205174,
 1438221,
 5000883,
 2860,
 1108107,
 1357958,
 104404,
 7272,
 4594,
 5835,
 1170121,
 74746,
 1101,
 1114765,
 3926,
 83126,
 95781,
 23599,
 320717,
 1384575,
 63486,
 92355,
 20642,
 94901,
 1442112,
 88798,
 1258531,
 116456,
 106672,
 119100,
 1174577,
 90659,
 1363693,
 1258519,
 66268,
 20575,
 22607,
 40736,
 1328972,
 8306,
 1126244,
 19963,
 1170394,
 5474,
 112002,
 1170119,
 111464,
 66383,
 18440,
 43666,
 11714,
 1328954,
 1187030,
 63520,
 7938,
 1103166,
 8580,
 1321866,
 57522,
 28159,
 107004,
 1103016,
 1132448,
 1268044,
 95998,
 111266,
 1258538,
 1342813,
 24024,
 1328955,
 12951,
 115564,
 21254,
 87272,
 1192391,
 66203,
 111984,
 68427,
 108664,
 66270,
 1204845,
 18625,
 46623,
 1057086,
 7497,
 10597,
 1214948,
 1170480,
 43489,
 33037,
 56160,
 103101,
 100766,
 7300,
 1304889,
 54828,
 9732,
 1404227,
 12970,
 2023,
 1166010,
 1423128,
 40657,
 1304565,
 1304616,
 1190335,
 79051,
 100624,
 32885,
 6689,
 20925,
 1268545,
 18596,
 1258522,
 43647,
 1315064,
 90453,
 1396028,
 1293114,
 72189,
 55831,
 15536,
 41746,
 46780,
 106034,
 1111528,
 90022,
 100694,
 6395,
 1132319,
 13725,
 21270,
 11996,
 10160,
 73248,
 75138,
 73115,
 1328956,
 1404207,
 10868,
 22220,
 58120,
 123169,
 1279540,
 10803,
 4302,
 38905,
 1176228,
 1177033,
 5480,
 55837,
 1135060,
 19197,
 17936,
 1363811,
 69767,
 11318,
 20527,
 11218,
 88923,
 54602,
 57396,
 1421550,
 16860,
 90080,
 1903,
 73316,
 1364004,
 97501,
 9922,
 1404808,
 112052,
 1192641,
 96627,
 1185559,
 72632,
 8037,
 26101,
 79485,
 19598,
 123363,
 1315387,
 5000234,
 1343631,
 108740,
 1137898,
 92356,
 1315345,
 19544,
 114612,
 112534,
 13703,
 1299258,
 1286756,
 9817,
 1292570,
 1332818,
 4672,
 88088,
 5275,
 1314138,
 100952,
 14369,
 1442113,
 49019,
 5001269,
 66379,
 1382615,
 18061,
 57588,
 1330050,
 1204009,
 44863,
 34666,
 1404979,
 92009,
 108006,
 8264,
 6492,
 6496,
 17531,
 5000869,
 21339,
 18594,
 5001218,
 112340,
 76076,
 21922,
 1161032,
 105498,
 53314,
 86392,
 1175535,
 9264,
 358455,
 1286097,
 110366,
 11220,
 1315083,
 1143724,
 70492,
 43427,
 1182205,
 106683,
 116504,
 1292694,
 15342,
 1382606,
 20110,
 5001267,
 117062,
 8117,
 16596,
 1106707,
 48806,
 104434,
 4075,
 1103168,
 115302,
 73476,
 1321506,
 45857,
 11432,
 5001384,
 106016,
 1384669,
 1170031,
 1286528,
 8101,
 100584,
 5000580,
 19523,
 64112,
 4964,
 69846,
 65369,
 90655,
 99950,
 1387141,
 1363692,
 1044865,
 5486,
 107658,
 1736,
 1313392,
 14333,
 8141,
 46238,
 1170433,
 74190,
 66256,
 34096,
 7414,
 10058,
 5001268,
 66161,
 15075,
 16989,
 1445246,
 104478,
 1138920,
 20441,
 305484,
 13213,
 89710,
 49820,
 15324,
 19516,
 111388,
 1363705,
 66287,
 21741,
 5001210,
 1286489,
 7287,
 101673,
 69197,
 1286786,
 4887,
 1342524,
 118744,
 102056,
 55129,
 83160,
 19557,
 96350,
 57792,
 38549,
 18834,
 85766,
 1130272,
 16590,
 38841,
 114588,
 116390,
 99010,
 1106760,
 21233,
 5961,
 5084,
 18324,
 1313394,
 83918,
 102176,
 54770,
 74315,
 18841,
 102094,
 29354,
 10682,
 103344,
 16250,
 9831,
 96006,
 116028,
 1300198,
 55600,
 1264939,
 50163,
 4959,
 9836,
 5068,
 104446,
 1131862,
 9641,
 21584,
 1286492,
 21300,
 66275,
 1107335,
 1151692,
 4090,
 114504,
 42271,
 1315422,
 20446,
 20146,
 10794,
 102174,
 1158165,
 53635,
 20180,
 121914,
 8576,
 1322867,
 1179346,
 100738,
 1296698,
 1190047,
 113885,
 11114,
 1190160,
 68462,
 1237,
 107224,
 1296657,
 1077151,
 121802,
 12968,
 9718,
 16825,
 29403,
 20033,
 7133,
 53531,
 1300486,
 117476,
 1214120,
 109886,
 19231,
 1266478,
 63526,
 1122943,
 863,
 2500024,
 108844,
 5615,
 89418,
 56718,
 19730,
 1363690,
 1057369,
 49725,
 35923,
 109356,
 1102225,
 18785,
 69874,
 96103,
 110582,
 1321295,
 51564,
 68941,
 114224,
 104449,
 5000983,
 111782,
 16204,
 1108111,
 114528,
 1292863,
 117230,
 82830,
 1304730,
 16824,
 1279014,
 41677,
 100728,
 6723,
 7294,
 46807,
 32842,
 89335,
 18278,
 1191343,
 1327348,
 18471,
 7944,
 1363727,
 4313,
 11990,
 1305546,
 30338,
 5000736,
 55294,
 26228,
 37240,
 18773,
 44506,
 1332837,
 101106,
 5737,
 21919,
 6330,
 1323000,
 1059199,
 1156006,
 67423,
 107246,
 1366287,
 27959,
 4280,
 2216,
 106617,
 19783,
 13576,
 1101668,
 90914,
 55998,
 1364164,
 49108,
 106389,
 110360,
 108734,
 3484,
 1300204,
 1258526,
 96231,
 67518,
 18473,
 1327349,
 65114,
 89822,
 41122,
 864,
 16885,
 19305,
 1292739,
 109986,
 17303,
 107126,
 101900,
 20628,
 115588,
 7378,
 37285,
 31662,
 86726,
 104628,
 67979,
 54997,
 69058,
 37280,
 1350009,
 56750,
 99847,
 47638,
 9723,
 17553,
 89341,
 73250,
 44514,
 21222,
 112522,
 67668,
 1182939,
 964,
 117078,
 1166185,
 49690,
 48589,
 56320,
 1296068,
 1413826,
 1305021,
 1030925,
 117296,
 1357883,
 91367,
 114405,
 1314139,
 21352,
 111102,
 14359,
 88796,
 101135,
 1143200,
 366629,
 72681,
 21761,
 18592,
 47718,
 5187,
 108723,
 7521,
 1138904,
 73746,
 5000308,
 19537,
 123157,
 11448,
 22642,
 51922,
 10735,
 70530,
 1186923,
 1105029,
 302907,
 5001187,
 111268,
 1166242,
 13418,
 111006,
 49094,
 1321507,
 5000850,
 1323168,
 44502,
 12699,
 106772,
 8434,
 1102982,
 1357741,
 1361383,
 92335,
 91966,
 54441,
 90483,
 96383,
 103950,
 44431,
 1146356,
 145,
 62378,
 7710,
 69817,
 1357953,
 46493,
 100120,
 100724,
 1162844,
 72867,
 96171,
 6560,
 5000879,
 1101270,
 150300,
 1172049,
 18396,
 51662,
 1152522,
 20032,
 53562,
 113580,
 1425391,
 59369,
 1408787,
 5000706,
 7290,
 66349,
 20433,
 41157,
 20757,
 764,
 1304602,
 89714,
 68456,
 55806,
 66397,
 ...]

In [66]:
alunos_df[alunos_df['CO_CURSO'] == 912]

Empty DataFrame
Columns: [NU_ANO_CENSO, CO_IES, TP_CATEGORIA_ADMINISTRATIVA, TP_ORGANIZACAO_ACADEMICA, CO_CURSO, CO_CURSO_POLO, TP_TURNO, TP_GRAU_ACADEMICO, TP_MODALIDADE_ENSINO, TP_NIVEL_ACADEMICO, CO_CINE_ROTULO, ID_ALUNO, CO_ALUNO_CURSO, CO_ALUNO_CURSO_ORIGEM, TP_COR_RACA, TP_SEXO, NU_ANO_NASCIMENTO, NU_MES_NASCIMENTO, NU_DIA_NASCIMENTO, NU_IDADE, TP_NACIONALIDADE, CO_PAIS_ORIGEM, CO_UF_NASCIMENTO, CO_MUNICIPIO_NASCIMENTO, IN_DEFICIENCIA, IN_DEFICIENCIA_AUDITIVA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_INTELECTUAL, IN_DEFICIENCIA_MULTIPLA, IN_DEFICIENCIA_SURDEZ, IN_DEFICIENCIA_SURDOCEGUEIRA, IN_DEFICIENCIA_BAIXA_VISAO, IN_DEFICIENCIA_CEGUEIRA, IN_DEFICIENCIA_SUPERDOTACAO, IN_TGD_AUTISMO, IN_TGD_SINDROME_ASPERGER, IN_TGD_SINDROME_RETT, IN_TGD_TRANSTOR_DESINTEGRATIVO, TP_SITUACAO, QT_CARGA_HORARIA_TOTAL, QT_CARGA_HORARIA_INTEG, DT_INGRESSO_CURSO, IN_INGRESSO_VESTIBULAR, IN_INGRESSO_ENEM, IN_INGRESSO_AVALIACAO_SERIADA, IN_INGRESSO_SELECAO_SIMPLIFICA, IN_INGRESSO_OUTRO_TIPO_SELECAO, IN_INGRESSO_VAGA_REMANESC, IN_INGRESSO_VAGA_PROG_ESPECIAL, IN_INGRESSO_TRANSF_EXOFFICIO, IN_INGRESSO_DECISAO_JUDICIAL, IN_INGRESSO_CONVENIO_PECG, IN_INGRESSO_EGRESSO, IN_INGRESSO_OUTRA_FORMA, IN_RESERVA_VAGAS, IN_RESERVA_ETNICO, IN_RESERVA_DEFICIENCIA, IN_RESERVA_ENSINO_PUBLICO, IN_RESERVA_RENDA_FAMILIAR, IN_RESERVA_OUTRA, IN_FINANCIAMENTO_ESTUDANTIL, IN_FIN_REEMB_FIES, IN_FIN_REEMB_ESTADUAL, IN_FIN_REEMB_MUNICIPAL, IN_FIN_REEMB_PROG_IES, IN_FIN_REEMB_ENT_EXTERNA, IN_FIN_REEMB_OUTRA, IN_FIN_NAOREEMB_PROUNI_INTEGR, IN_FIN_NAOREEMB_PROUNI_PARCIAL, IN_FIN_NAOREEMB_ESTADUAL, IN_FIN_NAOREEMB_MUNICIPAL, IN_FIN_NAOREEMB_PROG_IES, IN_FIN_NAOREEMB_ENT_EXTERNA, IN_FIN_NAOREEMB_OUTRA, IN_APOIO_SOCIAL, IN_APOIO_ALIMENTACAO, IN_APOIO_BOLSA_PERMANENCIA, IN_APOIO_BOLSA_TRABALHO, IN_APOIO_MATERIAL_DIDATICO, IN_APOIO_MORADIA, IN_APOIO_TRANSPORTE, IN_ATIVIDADE_EXTRACURRICULAR, IN_COMPLEMENTAR_ESTAGIO, IN_COMPLEMENTAR_EXTENSAO, IN_COMPLEMENTAR_MONITORIA, IN_COMPLEMENTAR_PESQUISA, IN_BOLSA_ESTAGIO, IN_BOLSA_EXTENSAO, IN_BOLSA_MONITORIA, IN_BOLSA_PESQUISA, TP_ESCOLA_CONCLUSAO_ENS_MEDIO, IN_ALUNO_PARFOR, TP_SEMESTRE_CONCLUSAO, TP_SEMESTRE_REFERENCIA, IN_MOBILIDADE_ACADEMICA, TP_MOBILIDADE_ACADEMICA, TP_MOBILIDADE_ACADEMICA_INTERN, CO_IES_DESTINO, CO_PAIS_DESTINO, IN_MATRICULA, ...]
Index: []

[0 rows x 105 columns]

In [67]:
lista_med_df = pd.read_csv('lista_codigos_cursos_med.csv')
lista_med_df.head()

  Sigla  CO_CURSOS_Medicina      Curso
0  UFMT                  12   MEDICINA
1  UFMT             1261972   MEDICINA
2   UNB                 140   MEDICINA
3   UFS                 303   MEDICINA
4   UFS             1108153   MEDICINA

In [68]:
medicina_list = list(lista_med_df.CO_CURSOS_Medicina.value_counts().index)

In [71]:
alunos_df[alunos_df['CO_CURSO'].isin(medicina_list)]

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
3703,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3704,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
3705,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2016
3706,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2013
3707,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12040603,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040604,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040605,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040606,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040607,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018

In [70]:
list(alunos_df.IN_MATRICULA.value_counts().index)

[1, 0]

In [77]:
alunos_df[alunos_df['CO_CURSO'].isin(medicina_list)][alunos_df['IN_MATRICULA'] == 1]

C:\Users\ROLD003\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
3703,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3704,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
3705,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2016
3706,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2013
3707,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12040603,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040604,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040605,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040606,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
12040607,2018,22514,4,3,1408505,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018

> Validado com a sinopse estatística do ensino superior 2018. Tanto o Censo quanto na Sinopse Estatística trazem 167,788 alunos de Medicina com matrículas ativas.

In [81]:
medicina_df = alunos_df[alunos_df['CO_CURSO'].isin(medicina_list)][alunos_df['IN_MATRICULA'] == 1]
medicina_df.head()

C:\Users\ROLD003\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
3703,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3704,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
3705,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2016
3706,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2013
3707,2018,1,1,1,12,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2014